@using RunChallenge.MVC.Areas.Forum.Models
@model IEnumerable<ArticleItemModel>

@{
    ViewBag.Title = "Articles";
}

<h2> Forum View </h2>

@*<div>Ajax Action link</div>
@Ajax.ActionLink("Get article", "Index", "Article", new { area = "Forum" }, 
    new AjaxOptions {
        
    })*@

@using (Ajax.BeginForm("Search", new { area = "Forum"},
    new AjaxOptions
        {
            UpdateTargetId = "results",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST"

        },
    new { id = "searchForm" }))
{ 
    <input type="text" name="query" oninput="changed()" placeholder="Search"/>
    <input type="submit"/>
}
<script>
    function changed() {
        $("#searchForm").submit();
    }
</script>
<div id="results">
    @Html.Partial("_ArticleResult", Model)
</div>