@using RunChallenge.MVC.ViewModels.Areas.Home
@model IEnumerable<IndexRunChallengeArticleViewModel>

<div>
    @{ foreach (var article in Model)
     {
        <h1>@article.Title</h1>
        <h3>@article.Content</h3>
        <hr />
     }
    }
</div>