@using RunChallenge.MVC.Areas.Forum.Models
@model IEnumerable<ArticleItemModel>

@foreach (ArticleItemModel article in Model)
{
    <div class="panel-title">
        <strong>
            @article.Title
        </strong>
    </div>
    @Ajax.ActionLink("Read article", "ContentById", "Articles",
        new { id = @article.Id, @class = "panel-title" },
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "article-content",
        })
    <br />
    
    @*@Html.Raw(article.Content)*@
}

<div id="article-content" class="jumbotron"></div>
